@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

/* Personalizza i colori */
@theme {
  --color-primary: #09090b;
  --color-secondary: #ffffff;
  --color-accent: #fbbf24;
}

:root {
    font-family: 'Readex Pro', system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: #09090b;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #09090b;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #09090b;
        background-color: #ffffff;
    }

    a:hover {
        color: inherit;
    }

    button {
        background-color: #09090b;
        color: white;
    }
}